.all_skills {
  height: 850px;
}

.all_skills h2,
.skills_list {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.all_skills h2 {
  top: 2600px;
}

.skills_list {
  top: 2800px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
}

.skills_logos,
.skills {
  display: flex;
}

.skills {
  width: 180px;
  height: 180px;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #d9d9d9;
}

.skills:hover {
  background-color: #b9b9b9;
  cursor: pointer;
}

.skills img {
  width: 70px;
}

.skills p {
  font-size: 25px;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .skills {
    width: 110px;
    height: 110px;
  }
  .skills p {
    font-size: 14px;
  }
  .skills img {
    width: 40px;
  }
  .skills_list {
    top: 2700px;
    grid-template-columns: repeat(2, 1fr);
  }
}
